<div class="container w-50 mt-3 border rounded bg-light pb-3 pt-2">
  <h1>To do: <%= @task.title %></h1>
  <h2>Description: <%= @task.details%></h2>

  <%if @task['completed'] == true%>
    <h2><i class="far fa-check-square"></i> This task is completed</h2>
  <%else%>
    <h2><i class="far fa-square"></i> This task is not completed yet</h2>
  <%end%>

  <p><%= link_to "Edit this task", edit_path, :class => "btn btn-primary"%></p>

  <p><%= link_to "Back to list", tasks_path, :class => "btn btn-secondary" %></p>
</div>
